h1{
background-color:#A7B3A6;
background-image: url(greentex.jpg);
font-family: 'Sue Ellen Francisco', cursive;
text-align:center;
color:#CB5E64;
margin:0 auto;
padding:0px;
position:fixed;
left:0;
top:0;
width:100%;
z-index: 4;
}

#link1{
color:#D4CED2;
padding-right: 15px;
padding-left: 15px;
}

#link2{
color:#CB5E64;
padding-right: 15px;
padding-left: 15px;
}

video {
position: fixed;
top: 50%;
left: 50%;
z-index: 1;
min-width: 100%;
min-height:100%;
width: auto;
height: auto;
transform: translate(-50%, -50%);
}

img{
position: relative;
display:block;
margin:0 auto;
z-index: 2;
padding: 0px;
}

#world{
position: relative;
display:block;
margin:0 auto;
z-index: 3;
padding: 0px;
padding-top: 120px;
}

#tulips{
position: relative;
display:block;
margin:0 auto;
z-index: 2;
width: 160px;
height:60px;
padding: 0px;
}

#project1{
width: 320px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

#project2{
width: 250px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

#project3{
width: 250px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

#project5{
width: 250px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

#project6{
width: 250px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

#project4{
width: 170px;
padding: 0px;
display:block;
margin:0 auto;
position: relative;
z-index: 2;
}

h3{
position: relative;
z-index: 2;
margin:0 auto;
text-align:center;
padding-top:20px;
padding-bottom:5px;
font-family: 'Sue Ellen Francisco', cursive;
font-size:30px;
}

body{
position: relative;
z-index: 2;
margin:0 auto;
background-color:#A7B3A6;
font-family:Goudy Old Style;
font-size:18px;
}

p{
position: relative;
z-index: 2;
line-height:50%;
}

.education_sec, .skills_sec, .employment_sec, .activities_sec {
    position: relative;
    z-index: 2;
    background-color:#D4CED2;
    background-image: url(purpletex.jpg);
    background-attachment: fixed;
    width: 100%;
}

.resume2{
position: relative;
z-index: 2;
margin:0 auto;
padding:10px;
width:800px;
}

hr{
position: relative;
z-index: 2;
padding:0px;
margin:-10px auto;
border-color:#CCCBC6;
}

.right{
float:right;
font-style:italic;
font-weight:normal;
}

.bold{
text-align:left;
font-weight:bold;
}

h4{
position: relative;
z-index: 2;
font-size:19px;
line-height:1%;
}

h5{
position: relative;
z-index: 2;
font-family:Goudy Old Style;
font-size:16px;
font-weight: normal;
}

.section{
position: relative;
z-index: 2;
font-family: 'Coming Soon', cursive;
font-size:15px;
line-height:.5;
}

footer{
position: relative;
z-index: 2;
background-color:#A7B3A6;
background-image: url(greentex.jpg);
text-align:right;
padding-top:10px;
padding-bottom:20px;
padding-right:30px;
font-size:15px;
font-family: 'Coming Soon', cursive;
}

a{
position: relative;
z-index: 2;
color:black;
text-decoration:none;
}

.dropdown{
padding-top:15px;
float:right;
padding-right:20px;
}

.dropdown:hover .items{
display:block;
}

.items a:hover{
background-color:#CCCBC6;
}

.items{
display: none;
background-color:#C7D8C6;
position:absolute;
box-shadow:8px 8px 16px 8px;
font-family: 'Coming Soon', cursive;
font-size:17px;
}

#blank{
padding-top:15px;
float:left;
padding-left:20px;
}

.aboutme{
position: relative;
z-index: 2;
padding:30px;
width:800px;
margin:0 auto;
}

.aboutsection{
position: relative;
z-index: 2;
width: 100%;
background-attachment: fixed;
background-color:#DFDEB4;
background-image: url(yellowtex.jpg);
}

.portfoliosection{
position: relative;
z-index: 2;
width:100%;
background-color:#CB5E64;
background-image: url(redtex.jpg);
background-attachment: fixed;
}

.portfolio{
text-align: center;
position: relative;
z-index: 2;
margin: 0 auto;
padding: 30px;
padding-bottom: 1200px;
width: 800px;
}

#about{
line-height:1.5;
}

#metop, #resumetop, #porttop, #contacttop, #hometop{
display:block;
height:50px;
margin-top:-50px;
visibility:hidden;
}

.dot{
display:inline;
padding-bottom:0px;
}

#skills{
text-align: center;
}

.skillType{
font-style:italic;
font-weight:normal;
text-decoration: underline;
}

.column-left{
float: left;
width: 45%;
}

.column-right{
float: right;
width: 45%;
}
