h1{
background-color:#A9B7C0;
font-family: 'Sue Ellen Francisco', cursive;
text-align:center;
color:#EFD9C1;
margin:0 auto;
padding:0px;
position:fixed;
left:0;
top:0;
width:100%;
}

img{
display:block;
margin:0 auto;
}

h2{
padding-top:160px;
background-color:#EFD9C1;
margin:0 auto;
}

h3{
margin:0 auto;
text-align:center;
padding-top:20px;
padding-bottom:5px;
font-family: 'Coming Soon', cursive;
font-size:15px;
}

body{
margin:0 auto;
background-color:#A9B7C0;
font-family:Goudy Old Style;
font-size:18px;
}

p{
line-height:50%;
}

.resume{
background-color:#C7D8C6;
margin:0 auto;
padding:50px;
width:800px;
}

.resumesection{background-color:#C7D8C6;}

hr{
padding:0px;
margin:-10px auto;
border-color:#CCCBC6;
}

.right{
float:right;
font-style:italic;
font-weight:normal;
}

.bold{
text-align:left;
font-weight:bold;
}

h4{
font-size:19px;
line-height:1%;
}

.section{
font-family: 'Coming Soon', cursive;
font-size:15px;
}

footer{
background-color:#A9B7C0;
text-align:right;
padding-top:10px;
padding-bottom:20px;
padding-right:30px;
font-size:15px;
font-family: 'Coming Soon', cursive;
}

a{
color:black;
text-decoration:none;
}

.dropdown{
padding-top:15px;
float:right;
padding-right:20px;
}

.dropdown:hover .items{
display:block;
}

.items a:hover{
background-color:#CCCBC6;
}

.items{
display: none;
background-color:#C7D8C6;
position:absolute;
box-shadow:8px 8px 16px 8px;
font-family: 'Coming Soon', cursive;
font-size:17px;
}

#blank{
padding-top:15px;
float:left;
padding-left:20px;
}

.aboutme{
background-color:#CCCBC6;
margin:0 auto;
padding:30px;
width:800px;
}

.aboutsection{
width:100%;
background-color:#CCCBC6;
}

#about{
line-height:1;
}

#metop{
display:block;
height:50px;
margin-top:-50px;
visibility:hidden;
}
